body, html{
    margin : 0;
    padding : 0;
    overflow : hidden;
    height:100%;
    width:100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body{
    margin-top: 1px;
    background-color: black;
}

.screen{
    height: 100%;
    width: 100%;
    touch-action: none;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    position:fixed;
    border-bottom:5px solid black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/*  Make the SVG canvas fill its container - both initially and after resizing */
svg { height: 100%; width: 100%; 

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}